doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/utils.css")
    link(rel="stylesheet", href="/css/reservation.css")
    link(rel="stylesheet", href="/css/profile.css")
    link(rel="shortcut icon", href="/favicon.ico")
    title #{title} | Tom's Trattoria
  body

    <!-- Navigation -->
    include includes/navbar.pug

    <!-- User information -->
    h3 Your Account Details:
    form#update-info-form
      each detail in accountDetails
        div.elem-group
          label Username
          input(type="text" id="username" name="current_username" pattern="[a-zA-Z0-9.-_]*[a-zA-Z0-9]" value=detail.username readonly)
        div.elem-group
          label Email
          input(type="email" id="email" name="current_email" value=detail.email readonly)
        button(id="editbtn" type="submit") Edit

    <!-- User reservations -->
    h3 Your Reservations:
    div.card-container
    each reservation, index in thisUsersReservations
      -var resCount = index + 1
      div.card.reservation-card
        div.yellow
        div.top.dots
        div.personal-info
          table
            thead
              tr 
                p= 'Reservation ' + resCount
                p #{reservation.dateTime}
            tbody
              tr
                td Name:
                td #{reservation.name}
              tr
                td Number of Guests: 
                td #{reservation.guestCount}
              tr
                td Table Number:
                td #{reservation.tableNumber}
              tr 
                td Duration:
                td 2 Hours
        div.bottom.dots
        div.pink
