doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/utils.css")
    link(rel="stylesheet", href="/css/reservation.css")
    link(rel="stylesheet", href="/css/profile.css")
    link(rel="shortcut icon", href="/favicon.ico")
    title #{title} | Tom's Trattoria
  body

    //- Navigation
    include includes/navbar.pug

    each accountDetail in accountDetails
      h1 #{accountDetail.username}'s Profile

    //- User information
    h3 Your Account Details:
    if error
      p#update-errormsg #{error} 
    form#update-info-form(method="post" enctype="application/x-www-form-urlencoded")
      each accountDetail in accountDetails
        div.elem-group
          if !editing
            label Username
          else
            label New Username
          input(class= editing ? "editable" : "" type="text" id="currentusername" name="username" pattern="[a-zA-Z0-9.-_]*[a-zA-Z0-9]" value=accountDetail.username readonly=!editing)
        div.elem-group
          if !editing
            label Email
          else
            label New Email
          input(class= editing ? "editable" : "" type="email" id="currentemail" name="email" value=accountDetail.email readonly=!editing)
          span(type="hidden" name="editing" value="true")
        if editing
          button.actionbtn(id="savebtn" name="editAction" type="submit" value="saveEdit") Save
          button.actionbtn(id="cancelbtn" name="editAction" type="submit" value="cancelEdit") Cancel
        else
          button.actionbtn(id="editbtn" name="editAction" type="submit" value="beginEdit") Edit

    //- User reservations 
    h3 Your Reservations:
    div.card-container
    each reservation in thisUsersReservations
      div.card.reservation-card
        div.yellow
        div.top.dots
        div.personal-info
          table
            thead
              tr 
                p Table #{reservation.tableNumber}
                p #{reservation.dateTime}
            tbody
              tr
                td Name:
                td #{reservation.name}
              tr
                td Number of Guests: 
                td #{reservation.guestCount}
              tr 
                td Duration:
                td 2 Hours
        div.bottom.dots
        div.pink
